@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
  margin: 0;
  padding: 0;
  background: #001414;
  color: white;
  font-family: "Roboto Slab", serif;
}
#root{
  min-width: 950px;
}

.image-inverted{
  filter: invert(100%);
}

.nav-link{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0px 10px 0px 10px;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  letter-spacing: 1px;
}

.type-animation{
  font-size: 55px;
  color: white;
  display: "inline-block";
  text-shadow: 1px 1px 20px #000;
  font-family: "Roboto Slab";
}

.motion-img-box-home{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

#motion-image{
  width: 225px; 
  margin: auto;
  margin-top: -20px;
}

#rotate-image{
  width: 140px;
  margin: auto;
  margin-top: 20px;
}

.chat-image{
  display: flex;
  margin: auto;
  width: 900px;
  border-radius: 30px;
  box-shadow: -5px -5px 105px #64f3d5;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.footer-div{
  width: 100%;
  min-height: 10vh;
  max-height: 30vh;
  margin-top: 50;
}
#footer-p{
  font-size: 27px;
  text-align: center;
}
.input-fields-from-input-component{
  
  width: 400px;
  /* border-radius: 20px;
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
  background: black */

}
.login-signup-button{
  width: 400px;
}

.Meta-Logo-text-typography-div{
  display: flex;
  margin-top: -10px;
}

.meta-logo{
  width: 50px; 
  margin-right: 15px
}

.Meta-LLaMA-3{
  font-size: 25px
}

.chat-display-box{
  width: 88%;
  height: 55vh;
  padding: 10px;
  margin-top: 20px;
}

.chatItems-box-from-ChatItems-components{
  width: auto;
}

.assistant-message-images-chatitems{
  width: 40px;
}

.syntext-highlighter{
  font-size: 20px;
  max-width: 908px;
}

.chat-input-field-div{
  width: 90%;
  display: flex;
  margin-top: 30px;
}
.chat-input-field{
  width: 93.7%;
  font-size: 20px;
  margin-left: 10px;
  padding: 20px
}

/*************Image Animation**********/

.rotate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.motion {
  width: 205px;
  margin: auto;
  animation: moveRotate  9s ease-out infinite;
}

@keyframes moveRotate {
 
  25% {
    transform: rotate(-8deg);
  }
   50% {
    transform: rotate(8deg);
  }
}


.animation {
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  border-right: 2px solid rgba(0, 20, 20, 0); /* Simulate cursor */
  white-space: nowrap; /* Prevent line break */
  animation: typing 4s ease  infinite;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

.cursor {
  display: inline-block;
  width: 0.2em; /* Adjust cursor width */
  height: 1em;
  vertical-align: middle;
  background-color: rgb(242, 221, 221); /* Cursor color */
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

/***************Responsive************** */

@media (max-width: 600px) {
  html, body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }
  /************Header Responsive************ */
  .header{
    width: 95vw;
    
  }
  .nav-link{
    font-size: 14.5px;
    margin-top: -15px;
  }
  .btn-div{
    margin-top: -8px;
  }

  /************Home Responsive************ */

  .type-animation-box-Home{
    margin-right: 525px;
    margin-top: 40px; 
  }
  
  .type-animation{
    font-size: 6vw;
    margin-top: -200px;
    
  }

  .motion-img-box-home{
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px; 
  }

  #motion-image{
    width: 120px;
    margin-left: -460px;
    margin-top: -25px;
    
  }

#rotate-image{
    width: 75px;
    /*margin-left: -100px;*/
    margin-left: 70px;
    margin-top: -12px;
  }

  .Chat-Iamge-Box{
    min-width: 50px;
  }

  .chat-image{
   width: 340px;
   margin-left: -445px;
   box-shadow: -5px -5px 35px #64f3d5;
  }

  /************Footer Responsive************ */

  .footer{
    margin-left: -540px;
  }
  .footer-div{
    width: 100%; 
  }

  #footer-p{
    font-size: 20px;
  } 
  /************Login Responsive************ */
   
  .login-form{
    margin-top: -50px;
    margin-left: -500px;
    width: 43%;
  }
  .input-fields-from-input-component{
    width: 325px;
  }

  .login-signup-button{
    width:325px;
  }

  /************Signup Responsive************ */
  .signup-form{
    width: 43%;
    margin-left: -500px;
  }

  /************Chat Responsive************ */
  .Meta-Logo-text-typography-div{
    margin-top: 30px;
    margin-left: -180px;
  }

  .meta-logo{
    width: 40px; 
    height: 23px;
    margin-top: 2px;
  }

  .Meta-LLaMA-3{
    font-size: 19px
  }

  .chat-display-box{
    width: 100%;
    height: 55vh;
    padding: 20px;
  }

  .chatItems-box-from-ChatItems-components{
    width: 320px;
  }

  .assistant-message-images-chatitems{
    width: 35px;
  }
  
  .syntext-highlighter{
    font-size: 15px;
    max-width: 245px;
  }

  .chat-input-field-div{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .chat-input-field{
    width: 25.5%;
    font-size: 20px;
    margin-left: 23px;
    padding: 0px 20px 0px 20px 
  }

  /**********************IPhone************************/
  @media (min-width: 400px) {
    .Chat-Iamge-Box{
      width: 40px;
    }
  
    .chat-image{
     width: 370px;
     margin-left: -441px;
     box-shadow: -5px -5px 35px #64f3d5;
    }

    #rotate-image{
      width: 75px;
      /*margin-left: -100px;*/
      margin-left: 120px;
      margin-top: -12px;
    }

    .footer{
      margin-left: -510px;
    }

    .chatItems-box-from-ChatItems-components{
      width: 358px;
    }

    .chat-input-field{
      width: 30.5%; 
    }

    .syntext-highlighter{
      font-size: 15px;
      max-width: 290px;
    }
  
  }
 /**********************Andriod************************/
  @media (max-width: 360px) {
    .Chat-Iamge-Box{
      /* min-width: 60px; */
    }
  
    .chat-image{
     width: 300px;
     margin-left: -440px;
     box-shadow: -5px -5px 35px #64f3d5;
    }

    .type-animation-box-Home{
      margin-right: 575px;
      margin-top: 40px; 
    }


    .type-animation{
      font-size: 5vw;
      margin-left: -5px;
      margin-top: -200px;
      
    }

    #rotate-image{
      width: 75px;
      /*margin-left: -100px;*/
      margin-left: 0px;
      margin-top: -12px;
     
    }

    .footer{
      margin-left: -530px;
    }

    .footer-div{
      width: 100%;
      margin-left: -25px; 
    }

    #footer-p{
      font-size: 11px;
    } 

    .chatItems-box-from-ChatItems-components{
      width: 300px;
    }

    .syntext-highlighter{
      font-size: 15px;
      max-width: 240px;
    }
  }

}
